 header{
    background:#0077b6;
    padding:18px 50px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    color:white;
    font-size:36px;
    font-weight:bold;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    font-size:20px;
    transition:0.3s;
}
body{
    background:#f4f8fb;
    font-family:Arial, Helvetica, sans-serif;
}

.navbar-brand{
    font-size:28px;
}

.card{
    border:none;
    border-radius:15px;
    transition:.4s;
}

.card:hover{
    transform:translateY(-10px);
}

.card img{
    height:220px;
    object-fit:cover;
}

.btn{
    border-radius:30px;
}
.card img{
    height:250px;
    object-fit:cover;
}

.card{
    transition:0.3s;
}

.card:hover{
    transform:scale(1.03);
}
/* ===========================
   Hero Hospital Image Effect
=========================== */

.image-box{
    overflow:hidden;
    border-radius:20px;
}

.hospital-img{
    width:100%;
    border-radius:20px;
    cursor:pointer;
    transition:all .5s ease;
    box-shadow:0 15px 35px rgba(0,0,0,.25);
}

/* Hover Effect */
.hospital-img:hover{
    transform:scale(1.08) rotate(-2deg);
    box-shadow:0 25px 50px rgba(0,119,182,.45);
    filter:brightness(1.08) saturate(1.2);
}
/* Floating Animation */

.hospital-img{
    animation:floating 4s ease-in-out infinite;
}

@keyframes floating{

    0%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-12px);
    }

    100%{
        transform:translateY(0px);
    }

}
.hospital-img:hover{
    transform:scale(1.08) rotate(-2deg);
    filter:brightness(1.08);
    box-shadow:
        0 0 25px rgba(0,119,182,.5),
        0 0 60px rgba(0,119,182,.3);
}
footer{
    font-size:18px;
}

footer{
    background:#0077b6;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
    font-size:18px;
}
